hero {
  position: relative;
}

hero > div{
  max-width: 90rem;
  height: 59.25rem;
  margin-inline: auto;
  overflow: hidden;
  background: url(../assets/images/hero-background.png) no-repeat center/cover;
  opacity: 0;
  animation: fadeIn 3s 300ms forwards;

  & .hero-text {
    margin-top: 17.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    
    & h1 {
      width: 41rem;
      font: var(--title-lg);
    }

    & p {
      width: 35.5rem;
      font: var(--body-lg);
      color: var(--text-body);
    }
  }
}

& nav {
  width:70rem;
  top: 3.5rem;

  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  z-index: 1;
  
  & button {
    appearance: none;
    border: none;
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    background: var(--pink-dark);
    font: var(--button);
    color: var(--text-title);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}