hero > div{
  max-width: 90rem;
  height: 59.25rem;
  margin-inline: auto;
  overflow: hidden;
  background: url(../assets/images/hero-background.png) no-repeat center/cover;

  & nav {
    max-width: 70rem;
    margin-top: 3.5rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      appearance: none;
      border: none;
      padding: .75rem 1.25rem;
      border-radius: .5rem;
      background: var(--pink-dark);
      font: var(--button);
      color: var(--text-title);
    }
  }

  & .hero-text {
    margin-top: 10.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    
    & h1 {
      width: 41rem;
      font: var(--title-lg);
    }

    & p {
      width: 35.5rem;
      font: var(--body-lg);
      color: var(--text-body);
    }
  }
}